USE [master]
GO
/****** Object:  Database [idareDB]    Script Date: 1.12.2022 01:29:24 ******/
CREATE DATABASE [idareDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'idareDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.BURAKYASIN\MSSQL\DATA\idareDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'idareDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.BURAKYASIN\MSSQL\DATA\idareDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [idareDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [idareDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 1.12.2022 01:29:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DersTbls]    Script Date: 1.12.2022 01:29:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DersTbls](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[adsoyad] [nvarchar](max) NULL,
	[kredisi] [nvarchar](max) NULL,
	[OkulYonetimID_id] [int] NULL,
 CONSTRAINT [PK_dbo.DersTbls] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OgrenciDersTbls]    Script Date: 1.12.2022 01:29:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OgrenciDersTbls](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[DersId_id] [int] NULL,
	[OgrenciId_id] [int] NULL,
 CONSTRAINT [PK_dbo.OgrenciDersTbls] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OgrenciTbls]    Script Date: 1.12.2022 01:29:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OgrenciTbls](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[adsoyad] [nvarchar](max) NULL,
	[ogrenciNo] [int] NOT NULL,
	[dTarihi] [nvarchar](max) NULL,
	[kTarihi] [nvarchar](max) NULL,
	[bolum] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.OgrenciTbls] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OkulYonetimtbls]    Script Date: 1.12.2022 01:29:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OkulYonetimtbls](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[adsoyad] [nvarchar](max) NULL,
	[gorev] [nvarchar](max) NULL,
	[YonetimTip] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.OkulYonetimtbls] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DersTbls] ON 

INSERT [dbo].[DersTbls] ([id], [adsoyad], [kredisi], [OkulYonetimID_id]) VALUES (1, N'DENİZCİLİK', N'%15', 1)
INSERT [dbo].[DersTbls] ([id], [adsoyad], [kredisi], [OkulYonetimID_id]) VALUES (2, N'LİMANCILIK', N'%15', 5)
INSERT [dbo].[DersTbls] ([id], [adsoyad], [kredisi], [OkulYonetimID_id]) VALUES (3, N'İNKİLAP', N'%10', 10)
SET IDENTITY_INSERT [dbo].[DersTbls] OFF
GO
SET IDENTITY_INSERT [dbo].[OgrenciDersTbls] ON 

INSERT [dbo].[OgrenciDersTbls] ([id], [DersId_id], [OgrenciId_id]) VALUES (1, 5, 1)
INSERT [dbo].[OgrenciDersTbls] ([id], [DersId_id], [OgrenciId_id]) VALUES (2, 2, 1)
INSERT [dbo].[OgrenciDersTbls] ([id], [DersId_id], [OgrenciId_id]) VALUES (3, 4, 1)
SET IDENTITY_INSERT [dbo].[OgrenciDersTbls] OFF
GO
SET IDENTITY_INSERT [dbo].[OgrenciTbls] ON 

INSERT [dbo].[OgrenciTbls] ([id], [adsoyad], [ogrenciNo], [dTarihi], [kTarihi], [bolum]) VALUES (1, N'GÜLFİDAN ÖĞÜDEN', 2020010789, N'1.1.2002', N'1.1.2019', N'Bilgisayar Programcılığı')
INSERT [dbo].[OgrenciTbls] ([id], [adsoyad], [ogrenciNo], [dTarihi], [kTarihi], [bolum]) VALUES (2, N'BİNNUR DÜZ', 2020010790, N'1.1.2002', N'1.1.2019', N'Bilgisayar Programcılığı')
INSERT [dbo].[OgrenciTbls] ([id], [adsoyad], [ogrenciNo], [dTarihi], [kTarihi], [bolum]) VALUES (3, N'FEYZAHAN KAYACAN', 2020010791, N'1.1.2000', N'1.1.2019', N'Bilgisayar Programcılığı')
SET IDENTITY_INSERT [dbo].[OgrenciTbls] OFF
GO
SET IDENTITY_INSERT [dbo].[OkulYonetimtbls] ON 

INSERT [dbo].[OkulYonetimtbls] ([id], [adsoyad], [gorev], [YonetimTip]) VALUES (1, N'SAMİ KIRHAN', N'Öğretmen', N'Eğitim')
INSERT [dbo].[OkulYonetimtbls] ([id], [adsoyad], [gorev], [YonetimTip]) VALUES (2, N'AZİZ GÖREN', N'Öğretmen', N'Eğitim')
INSERT [dbo].[OkulYonetimtbls] ([id], [adsoyad], [gorev], [YonetimTip]) VALUES (3, N'CEMİL YAŞAN', N'Öğretmen', N'Eğitim')
SET IDENTITY_INSERT [dbo].[OkulYonetimtbls] OFF
GO
/****** Object:  Index [IX_OkulYonetimID_id]    Script Date: 1.12.2022 01:29:24 ******/
CREATE NONCLUSTERED INDEX [IX_OkulYonetimID_id] ON [dbo].[DersTbls]
(
	[OkulYonetimID_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DersId_id]    Script Date: 1.12.2022 01:29:24 ******/
CREATE NONCLUSTERED INDEX [IX_DersId_id] ON [dbo].[OgrenciDersTbls]
(
	[DersId_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OgrenciId_id]    Script Date: 1.12.2022 01:29:24 ******/
CREATE NONCLUSTERED INDEX [IX_OgrenciId_id] ON [dbo].[OgrenciDersTbls]
(
	[OgrenciId_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DersTbls]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DersTbls_dbo.OkulYonetimtbls_OkulYonetimID_id] FOREIGN KEY([OkulYonetimID_id])
REFERENCES [dbo].[OkulYonetimtbls] ([id])
GO
ALTER TABLE [dbo].[DersTbls] CHECK CONSTRAINT [FK_dbo.DersTbls_dbo.OkulYonetimtbls_OkulYonetimID_id]
GO
ALTER TABLE [dbo].[OgrenciDersTbls]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OgrenciDersTbls_dbo.DersTbls_DersId_id] FOREIGN KEY([DersId_id])
REFERENCES [dbo].[DersTbls] ([id])
GO
ALTER TABLE [dbo].[OgrenciDersTbls] CHECK CONSTRAINT [FK_dbo.OgrenciDersTbls_dbo.DersTbls_DersId_id]
GO
ALTER TABLE [dbo].[OgrenciDersTbls]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OgrenciDersTbls_dbo.OgrenciTbls_OgrenciId_id] FOREIGN KEY([OgrenciId_id])
REFERENCES [dbo].[OgrenciTbls] ([id])
GO
ALTER TABLE [dbo].[OgrenciDersTbls] CHECK CONSTRAINT [FK_dbo.OgrenciDersTbls_dbo.OgrenciTbls_OgrenciId_id]
GO
USE [master]
GO
